[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[alias]
	st = status
	sl = stash list 
	co = checkout
	br = branch
	ci = commit
	lgg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lg = log --graph --oneline
	last = 'log -3'
	rb = rebase
    rba = rebase --abort
    rbc = rebase --continue
    cp = cherry-pick 
    cpa = cherry-pick --abort 
    cpc = cherry-pick --continue 
	gp = pull --rebase github develop
	gps = push origin develop
	grc = rebase --continue
	lggg = log --graph --oneline -10
    icd = icdiff 
    ; branch diff with `develop`
    brdif = cherry -v develop
[user]
	name = Alex Xie
	email = xieweialex@gmail.com
[core]
	excludesfile = /Users/Alex_Xie/.gitignore
; [diff "localizablestrings"]
;     textconv = "iconv -t utf-8"
;     binary = false
; [diff]
    tool = icdiff
    cmd = /usr/local/bin/icdiff --line-numbers $LOCAL $REMOTE
[difftool]
    prompt = false
[difftool "icdiff"]
    cmd = /usr/local/bin/icdiff --line-numbers $LOCAL $REMOTE

; [mergetool "sourcetree"]
; 	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
; 	trustExitCode = true
[push]
	default = current
[pull]
	default = current
[icdiff]
	; options = --highlight --line-numbers
    options =  --line-numbers
