[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[alias]
	st = status
	sl = stash list 
	co = checkout
	br = branch
	ci = commit
	lg = log --graph --oneline
	lgg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lggg = log --color --graph --no-merges --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	last = 'log -3'
	rb = rebase
  rba = rebase --abort
  rbc = rebase --continue
  rbs = rebase --skip
  cp = cherry-pick 
  cpa = cherry-pick --abort 
  cpc = cherry-pick --continue 
	gp = pull --rebase github develop
	gps = push origin develop
	grc = rebase --continue
  icd = icdiff 
  brdif = cherry -v develop
[user]
	name = Alex Xie
	email = alex.xie@walmart.com
[core]
	excludesfile = /Users/a0x0063/.gitignore
  tool = icdiff
  cmd = /usr/local/bin/icdiff --line-numbers $LOCAL $REMOTE
[difftool]
    prompt = false
[difftool "icdiff"]
    cmd = /usr/local/bin/icdiff --line-numbers $LOCAL $REMOTE
[push]
	default = current
[pull]
	default = current
[icdiff]
  options =  --line-numbers
