
let mapleader = ";"
noremap . ;
noremap <Space> .

inoremap jk <esc>

syntax on
set surround

"make the selected area commented
vnoremap <leader>/ o<esc>i/*<esc>gv<esc>lla*/<esc>
nnoremap <leader><leader> 0f/xxf*xx
nnoremap <leader>; A;<esc>
"nnoremap <leader>{ f)a { <ENTER><ENTER> }<esc>k
nnoremap <leader>{ f)a { <ENTER> }<esc>
nnoremap <leader>1 f(i1<esc>

nnoremap j gj
nnoremap k gk

" copy current word to system clipboard 
nnoremap <leader>y "*yiw 
" replace current word from system clipboard
nnoremap <leader>p viw"*p
" Save 
nnoremap <leader>s :w<esc>

" activate AceJump
nnoremap <leader>f :action AceAction<CR>

" Press `F` to activate Target Mode
" nnoremap <leader>F :action AceTargetAction<CR>

" activate Line Mode
nnoremap <leader>g :action AceLineAction<CR>


set ideajoin
